*

{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

.bg-img
{
    


}
p{
    font-weight: 300;
    color: #111;
}
.banner{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: url('https://i.pinimg.com/originals/d6/7b/f9/d67bf9d4504a1c4d5c989173569ff2fe.gif');
background-size: cover;
}   
.banner.cont{

text-align: right;
position: relative;
top: 100px;
} 

 h1{
    position: relative;
    top: -50px;
    left: -400px;
   font-size: 15rem;
   color: #fff;
   font-family:'monstreet',sans-serif ;
    } 
p1{
    position: relative;
    top: -85px;
    left: -400px;
   font-size: 2.5rem;
   color: grey;
   font-family:'monstreet',sans-serif ;

}    
.containt
{
position: absolute;
top: 39%;
left: 39%;
transform: translate(-50%, -50%,);
text-align: center;
z-index: 999;
width: 370px;
text-align: center;
padding: 60px 32px;
background: rgba(255, 255, 255, 0.04);
box-shadow: -4px 1px 28px 0px rgba(0, 0, 0, 0.75);
font-family: 'monstreet',sans-serif;

}
.containt header
{
color: black;
font-size: 33px;
font-weight: 600;
margin: 0 0 35px 0;
font-family: 'poppins',sans-serif;
}
.fild
{
position: relative;
height: 45px;
width: 100%;
display: flex;
background:rgba(255, 255, 255, 0.94) ;
}

.fild input
{
height: 100%;
width: 100%;
background: transparent;
border: none;
outline: none;
color: #222;
font-size: 16px;
font-family:'poppins',sans-serif;
}
.space 
{
margin-top: 16px;
}

.fild span 
{
color: #222;
height: 40px;
line-height: 45px;

}
.pass
{
text-align: left;
margin: 10px 0;

}   

.pass a
{
color: black;
font-family: 'poppins',sans-serif;
text-decoration: none;

} 

.pass:hover a
{
    text-decoration: underline;
} 
input[type="submit"]
{
background:#3498db;
border: 1px solid #2691d9;
color: white;
font-size: 18px;
letter-spacing: 1px;
font-weight: 600;
cursor: pointer;
font-family: 'monstreet',sans-serif;

}

input[type="submit"]:hover
{
    background:#2691d9;
}
.login
{
color: grey;
margin: 20px 0;
font-family:'poppins',sans-serif ;

}
header
{
    position: fixed;
    top: 0;
    left: 760px;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

}
header.nav 
{
    position: relative;
    
    display: flex;
    text-decoration: none;
}
a
{
   
text-decoration: none;
margin: 20px;
color: white;
font-weight: 250;
font-size: 1.4rem;
font-family:'poppins',serif ;
}
