*

{

    margin: 0;

   

}

body
{
    margin: 0;

    padding: 0;   

    box-sizing: border-box;
}
p{
    font-weight: 300;
    color: #111;
}
.banner{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: url('https://i.pinimg.com/originals/d6/7b/f9/d67bf9d4504a1c4d5c989173569ff2fe.gif');
background-size: cover;
}   
.banner.cont{

text-align: right;
position: absolute;
top: 100px;
} 

 h1{
    position: relative;
    top: -87px;
    left: -340px;
   font-size: 8rem;
   color: #fff;
   font-family:'monstreet',sans-serif ;
    } 
p1{
    position: relative;
    top: -85px;
    left: -340px;
   font-size: 2.5rem;
   color: grey;
   font-family:'monstreet',sans-serif ;

}    
.containt
{
position: absolute;
top: 39%;
left: 39%;
transform: translate(-50%, -50%,);
text-align: center;
z-index: 999;
width: 370px;
text-align: center;
padding: 60px 32px;
background: rgba(255, 255, 255, 0.04);
box-shadow: -4px 1px 28px 0px rgba(0, 0, 0, 0.75);
font-family: 'monstreet',sans-serif;

}
.containt header
{
color: black;
font-size: 33px;
font-weight: 600;
margin: 0 0 35px 0;
font-family: 'poppins',sans-serif;
}
.fild
{
position: relative;
height: 45px;
width: 100%;
display: flex;
background:rgba(255, 255, 255, 0.94) ;
}

.fild input
{
height: 100%;
width: 100%;
background: transparent;
border: none;
outline: none;
color: #222;
font-size: 16px;
font-family:'poppins',sans-serif;
}
.space 
{
margin-top: 16px;
}

.fild span 
{
color: #222;
height: 40px;
line-height: 45px;

}
.pass
{
text-align: left;
margin: 10px 0;

}   

.pass a
{
color: black;
font-family: 'poppins',sans-serif;
text-decoration: none;

} 

.pass:hover a
{
    text-decoration: underline;
} 
input[type="submit"]
{
background:#3498db;
border: 1px solid #2691d9;
color: white;
font-size: 18px;
letter-spacing: 1px;
font-weight: 600;
cursor: pointer;
font-family: 'monstreet',sans-serif;

}

input[type="submit"]:hover
{
    background:#2691d9;
}
.login
{
color: grey;
margin: 20px 0;
font-family:'poppins',sans-serif ;

}
header
{
    position: fixed;
    top: 0;
    left: 760px;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

}
header.nav 
{
    
    position: fixed;
    display: flex;
    text-decoration: none;
}
a
{
   
text-decoration: none;
margin: 20px;
color: white;
font-weight: 250;
font-size: 1.4rem;
font-family:'poppins',serif ;
}

.abo{
background-color: white;
color: #F65661;

}   

.imo
{
position: relative;
left: 830px;
top: -150px;
border: 5px solid gray;
border-radius: 10px;
box-shadow: 0 0 5px lightgrey;

} 
.titre-abo
{ 
    position: relative;
    left: 140px;
top: 190px;  
font-size: 2rem;
font-family:'poppins',serif ;
} 

.about-content
{ 
    position: relative;
    left: 200px;
top: 220px;  
font-size: 1rem;
font-family:'poppins',serif ;
} 

.imo1
{
    width: 300px;
position: relative;
left: 480px;
top: 900px;
border: 5px solid #F65661;
border-radius: 50%;
box-shadow: 0 0 5px lightgrey;
clip-path: circle();

} 
.imo2
{
    width: 300px;
position: relative;
left: 670px;
top: 900px;
border: 5px solid #F65661;
border-radius: 50%;
box-shadow: 0 0 5px lightgrey;
clip-path: circle();

} 

.titre-tem
{
    position: relative;
    left: 700px;
top: 900px;  
font-size: 2.4rem;
font-family:'poppins',serif ;
color: #F65661; 
} 

h3 
{
    position: relative;
    left: 980px;
top: 1400px;  
font-size: 2rem;
font-family:'poppins',serif ;
color: grey; 
} 

h4
{
    position: relative;
    left: 480px;
top: 1300px;  
font-size: 2rem;
font-family:'poppins',serif ;
color: grey; 
} 

p3
{  position: relative;
    left: 1000px;
top: 1400px;  
font-size: 1.2rem;
font-family:'poppins',serif ;
color: #F65661; 
} 

p4
{  position: relative;
    left: 560px;
top: 1300px;  
font-size: 1.2rem;
font-family:'poppins',serif ;
color: #F65661; 
} 

h5
{ position: relative;
   left: 680px;
   top: -220px;
   font-size: 2.5rem;
   color:#F65661 ;
   font-family:'monstreet',sans-serif ;
}
.section
{
    position: relative;
    width: 100%;
    height: 100vh;

}
.section .vedio
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

